<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="{{ assets('/admin/css/style.css') }}">
  <link rel="stylesheet" href="{{ assets('/fonts/css/font-awesome.min.css') }}">


  <title>KECMS后台管理</title>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
<header class="top">
  <strong>KECMS</strong> <small>后台管理</small>
</header>

<div class="layout">
  <div class="layout-content">
    <!-- sidebar start -->
    <div class="sidebar">
      <ul>

        <li class="sidebar-head">
          <a href="javascript:void(0);">系统&nbsp;<i class="fa fa-lg fa-angle-right" style="margin-left:110px;"></i></a>
          <ul class="sidebar-sub">
            <li><a target="main" href="{{ url('admin.setting') }}">站点设置</a></li>
            <li><a target="main" href="{{ url('admin.class') }}">栏目管理</a></li>
            <li><a target="main" href="{{ url('admin.data') }}">数据管理</a></li>
          </ul>
        </li>

        <li class="sidebar-head">
          <a href="javascript:void(0);">会员&nbsp;<i class="fa fa-lg fa-angle-right" style="margin-left:110px;"></i></a>
          <ul class="sidebar-sub">
            <li><a target="main" href="{{ url('admin.user') }}">会员管理</a></li>
          </ul>
        </li>

        <li class="sidebar-head">
          <a href="javascript:void(0);">内容&nbsp;<i class="fa fa-lg fa-angle-right" style="margin-left:110px;"></i></a>
          <ul class="sidebar-sub">
            <li><a target="main" href="{{ url('admin.article') }}">文章管理</a></li>
            <li><a target="main" href="{{ url('admin.images') }}">图片管理</a></li>
          </ul>
        </li>

        <li class="sidebar-head">
          <a href="javascript:void(0);">运营&nbsp;<i class="fa fa-lg fa-angle-right" style="margin-left:110px;"></i></a>
          <ul class="sidebar-sub">
            <li><a target="main" href="{{ url('admin.link') }}">友情链接</a></li>
            <li><a target="main" href="{{ url('admin.images') }}">广告模块</a></li>
          </ul>
        </li>

      </ul>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="content">
      <iframe name="main" src="{{ url('admin/home') }}"></iframe>
    </div>

    <!-- content end -->
  </div>
</div>
</body>
<script type="text/javascript" src="{{ assets('/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ assets('/js/require.js') }}"></script>
<script type="text/javascript">var web_path='{{ __WEB_PATH__ }}';var token='{{ csrf_token }}';require.config({baseUrl:web_path+'/../modules'});require(['{{ ct }}']);</script>
</html>