<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>KECMS后台登录</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="{{ assets('/css/amazeui.css') }}"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>KECMS 后台登录</h1>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">

    <form id="form" class="am-form">
      <label for="text">管理帐号:</label>
      <input type="text" name="usr" id="text" value="">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="pmd" id="password" value="">
      <br>
      <div class="am-cf">
        <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
        <a href="{{ url('admin.reset') }}" name="" value=" " class="am-btn am-btn-default am-btn-sm am-fr">忘记密码 ^_^?</a>
      </div>
      <input type="hidden" name="_token_" value="{{ csrf_token }}">
    </form>
    <hr>
    <p>© 2017 Copyright to <a href="http://cms.iydou.cn/">KECMS</a></p>
  </div>
</div>
</body>
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd" id="message"></div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ assets('/js/jquery.min.js') }}"></script>
<script src="{{ assets('/js/amazeui.min.js') }}"></script>
<script type="text/javascript">
$(function() {
    var $modal = $('#my-alert');
    $('#form').submit(function(){
        $.ajax({
            type:'post',
            data:$(this).serialize(),
            datatype:'json',
            success:function(data){
                if(data.code==0){
                    location.href=data.result.url;
                }else{
                    $('#message').html(data.message);
                    $modal.modal('toggle');
                }
            }
        });
        return false;
    });

  });
</script>
</html>
