{% extends 'layout.html' %}
{% block title %}站点设置{% endblock %}
{% block body %}


<form id="form">

  <div class="tabs">
      <ul class="tabs-head">
        <li class="active">基本信息</li>
        <li>SEO 选项</li>
      </ul>

      <ul class="tabs-body">
        <li>
          <div class="form-inline">
            <label class="label">站点状态</label>
            <select name="status" class="input">
              <option value="0" {{ site.status==0 ? 'selected' : ''}}>启动</option>
              <option value="1" {{ site.status==1 ? 'selected' : ''}}>关闭</option>
            </select>
          </div>

          <div class="form-inline">
            <label class="label">用户注册</label>
            <select name="reg" class="input">
              <option value="-1" {{ site.reg==-1 ? 'selected' : ''}}>关闭注册</option>
              <option value="0" {{ site.reg==0 ? 'selected' : ''}}>普通注册</option>
              <option value="1" {{ site.reg==1 ? 'selected' : ''}}>短信注册</option>
              <option value="2" {{ site.reg==2 ? 'selected' : ''}}>邮箱注册</option>
              <option value="3" {{ site.reg==3 ? 'selected' : ''}}>普通+短信注册</option>
              <option value="4" {{ site.reg==4 ? 'selected' : ''}}>普通+邮箱注册</option>
            </select>
          </div>
          <div class="form-inline">
            <label class="label">站点名称</label>
            <input type="text" class="input" name="title" value="{{ site.title }}">
          </div>
          <div class="form-inline">
            <label class="label">备案号</label>
            <input type="text" class="input" name="icp" value="{{ site.icp }}">
          </div>
        </li>

        <!-- SEO -->
        <li>
          <div class="form-group">
            <label class="label">SEO 关键字</label>
            <textarea name="seo_keywords" rows="4" class="textarea">{{ site.keywords }}</textarea>
          </div>
          <div class="form-group">
            <label class="label">SEO 描述</label>
            <textarea name="seo_description" rows="4" class="textarea">{{ site.description }}</textarea>
          </div>
        </li>
      </ul>

    </div>

  <div class="margin">
    <button type="submit" class="button">提交保存</button>
  </div>

</form>
{% endblock %}