<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <script type="text/javascript" src="{{ assets('/js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ assets('/pintuer/respond.js') }}"></script>
  <script type="text/javascript" src="{{ assets('/pintuer/pintuer.js') }}"></script>
  <script type="text/javascript" src="{{ assets('/layer/layer.js') }}"></script>
  <script type="text/javascript" src="{{ assets('/js/require.js') }}"></script>

  <link rel="stylesheet" href="{{ assets('/pintuer/pintuer.css') }}" />

  <title>{% block title %}default{% endblock %} - KECMS</title>
</head>
<body>{% block body %}{% endblock %}</body>
<script type="text/javascript">var web_path='{{ __WEB_PATH__ }}';var token='{{ csrf_token }}';require.config({baseUrl:web_path+'/../modules'});require(['{{ ct }}']);</script>
</html>