<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script type="text/javascript" src="/assets/pintuer/respond.js"></script>
    <script type="text/javascript" src="/assets/pintuer/pintuer.js"></script>

    <link rel="stylesheet" href="/assets/pintuer/pintuer.css" />

    <title>Title</title>
</head>
<body>
<form method="post">
	<p>帐号:<input type="text" name="username"></p>
	<p>昵称:<input type="text" name="nickname"></p>
	<p>密码:<input type="text" name="password"></p>
	<button type="submit">确定注册</button>
</form>
</body>
</html>