@charset "utf-8";

.am-breadcrumb{
	margin:0px;
}
.am-alert{
	position: fixed;
	z-index:99999;
	top:5px;
	width:240px;
	text-align:center;
}
.check{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.4em;
	label{
		margin:0px;
	}
}



// 多级栏目
.classlist{
	list-style:none;
	padding:0;
	#ajaxItem{
		display: none;
	}
	.classlist-sub{
		margin:5px 0 5px 20px;
		li+li{
			margin-top:5px;
			border-top:solid 1px #ddd;
		}
	}
	li{
		padding:5px 0 5px 0;
		border:solid 1px #ddd;
	}
	li+li{
		margin-top:5px;
	}
}