{% extends 'layout.html' %}
{% block title %}编辑信息{% endblock %}
{% block body %}
  <form id="form" method="post">
    <div class="form-inline">
        <label class="label">UID</label>
        <input type="text" class="input" value="{{ data.id }}" disabled>
    </div>

      <div class="form-inline">
          <label class="label">帐号</label>
          <input type="text" class="input" name="username" placeholder="输入用户帐号" value="{{  data.username }}">
      </div>

      <div class="form-inline">
          <label class="label">昵称</label>
          <input type="text" class="input" name="nickname" placeholder="输入用户昵称" value="{{  data.nickname }}">
      </div>

      <div class="form-inline">
          <label class="label">性别</label>
          <div class="input-c">
              <input type="radio" name="sex" value="0" {{ data.sex==0 ? 'checked' : ''}} id="sex_0">
              <label for="sex_0">女</label>
              <input type="radio" name="sex" value="1" {{ data.sex==1 ? 'checked' : ''}} id="sex_1">
              <label for="sex_1">男</label>
          </div>
      </div>

      <div class="form-inline">
          <label class="label">密码</label>
          <input type="password" class="input" name="password" placeholder="不修改请留空">
      </div>
      <input type="hidden" name="_token_" value="{{ csrf_token }}">

      <div class="form-inline">
          <label class="label"></label>
          <button type="submit" class="btn btn-default btn-sm" style="margin-left:10px;"> 提交保存</button>
      </div>
  </form>
{% endblock %}