{% extends 'layout.html' %}
{% block title %}会员管理{% endblock %}
{% block body %}
<form action="" method="get" class="form-search" id="form">
  <div class="ser-cont">
    <input type="text" class="input" name="key" placeholder="搜索Uid,用户名,昵称" value="{{ search.key }}">
      <button type="submit" class="ser-btn">搜索</button>
  </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Uid</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>性别</th>
            <th>年龄</th>
            <th>注册时间</th>
            <th>最后活跃</th>
            <th width="120">操作</th>
        </tr>
    </thead>
    <tbody>
    {% for item in list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.nickname }}</td>
            <td>{{ item.sex ? '男' : '女' }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.reg_time|date('Y-m-d') }}</td>
            <td>
                {% if item.up_time %}
                    {{ item.up_time|date('Y-m-d') }}
                {% else %}
                    从未活跃
                {% endif %}
            </td>
            <td>
                <a class="btn btn-secondary" href="{{ url('admin.user.edit',{'id':item.id}) }}">编辑</a>
                <a class="btn btn-danger" href="{{ url('admin.user.delete',{'id':item.id}) }}">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}