{% extends 'layout.html' %}
{% block body %}

<ol class="am-breadcrumb am-breadcrumb-slash">
    <li><a href="{{ url('admin.home') }}" class="am-icon-home">首页</a></li>
    <li class="am-active">会员管理</li>
</ol>
<div class="am-g">
    <form action="" method="get" class="am-u-lg-6" id="form">
        <div class="am-input-group">
            <input type="text" class="am-form-field" name="key" placeholder="搜索Uid,用户名,昵称" value="{{ search.key }}">
            <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="submit"><span class="am-icon-search"></span> </button>
            </span>
        </div>
    </form>

</div>

<table class="am-table  am-margin-top">
    <thead>
        <tr>
            <th>Uid</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>性别</th>
            <th>年龄</th>
            <th>注册时间</th>
            <th>最后活跃</th>
            <th width="140">操作</th>
        </tr>
    </thead>
    <tbody>
    {% for item in list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.nickname }}</td>
            <td><span class="am-badge am-badge-success">{{ item.sex ? '男' : '女' }}</span></td>
            <td><span class="am-badge am-badge-danger">{{ item.age }}</span></td>
            <td>{{ item.reg_time|date('Y-m-d') }}</td>
            <td>
                {% if item.up_time %}
                    {{ item.up_time|date('Y-m-d') }}
                {% else %}
                    从未活跃
                {% endif %}
            </td>
            <td>
                <a class="am-btn am-btn-xs am-btn-secondary" href="{{ url('admin.user.edit',{'id':item.id}) }}">编辑</a>
                <a id="delete" class="am-btn am-btn-xs am-btn-danger" data-id="{{ item.id }}" data-url="{{ url('admin.user.delete') }}">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}